* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 200px;

  &.none-copy {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.volume {
  min-width: 124px;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  position: absolute;
}
